@{
    ViewBag.Title = "eywllh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model BolumTer.Models.Feedback   
   
@{   
    ViewBag.Title = "ThankYouPage";   
}   
   
<h2>Teşekkürler..</h2>   
   
<b>İletilerin için teşekkür ederiz.</b>  
<div style="margin-bottom:44em"></div>
