@{
    ViewBag.Title = "BölümTercih.Com - Gizlilik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Reklam ve Gizlilik Politikası</h3>
<div style="margin-bottom:16em;">

<p>bolumtercih.com Google reklamlarını içermektedir. Bu kapsamda <a href="https://support.google.com/adsense/answer/2839090" target="_blank">DoubleClick çerezi</a>, bolumtercih.com içeriğinde yayınlanan Google reklamlarında kullanılmaktadır. Kullanıcılar bolumtercih.com sitesini ziyaret edip bir reklamı görüntülediğinde ya da tıkladığında, son kullanıcının tarayıcısına bir çerez bırakılabilir. 
</p>
<p>
<ul>
<li>Google dahil üçüncü taraf sağlayıcılar, kullanıcıların web sitenize yaptığı önceki ziyaretlere dayalı olarak reklam yayınlamak üzere çerezleri kullanmaktadır.</li>
<li>Google'ın DoubleClick çerezlerini kullanması, kendisinin ve iş ortaklarının, bolumtercih.com sitesine ve/veya İnternet'teki diğer sitelere yaptığınız ziyaretlere dayalı olarak tarafrınıza reklam sunmasına olanak tanır.</li>
<li><a href="http://www.google.com/ads/preferences/" target="_blank">Reklam Ayarlarını</a> ziyaret ederek ilgi alanına dayalı reklamcılık için DoubleClick çerezi kullanımını devre dışı bırakabilirsiniz. </li>
<li>Ayrıca ilgi alanına dayalı reklamcılık konusunda bilgi almak için <a href="http://www.aboutads.info/" target="_blank">aboutads.info</a> adresini ziyaret edebilir, ilgi alanına dayalı reklamcılık için bir üçüncü taraf sağlayıcının çerez kullanımını devre dışı bırakma konusunda bilgiler alabilirsiniz.</li>


</ul></p>

<h3>bolumtercih.com Hakkında Genel Bilgi</h3>
<p>bolumtercih.com uygulama servis hizmeti veren bir sitedir, ana veri olarak üniversite, fakulte ve bölüm bilgilerini ve bölüm bazında kontenjan, puan türü, yerleştirme koşulları, taban puan, yerleştirme sırası gibi bilgileri içerir ve uygun formatta ve özgün tasarımıyla görüntüler.
</p><p>bolumtercih.com tercih sistemi, adaylar için bölüm tercihlerini yapmalarına yardımcı olacak bir uygulamadır, adaylar için en doğru ve nihai bilgi ÖSYM’nin yayınladığı tercih klavuzu ve <a href="http://www.osym.gov.tr" target="_blank">ÖSYM web sitesidir</a>. bolumtercih.com yayınladığı verilerin doğruluğunu garanti etmez, bundan dolayı oluşabilecek  herhangi bir durumda sorumluluk taşımaz.
</p><p>bolumtercih.com bir üyelik sistemi içermez ve bu sebeple kullanıcı bilgilerini almaz ve kayıt altında tutmaz, kullanıcıların oluşturduğu içerikleri ve tercih listelerini ya da tercih listeleri anahtarlarını <a href="http://www.w3.org/TR/html5/"  target="_blank">HTML5</a> teknolojisi ile browser depolama alanlarında tutar. Kullanıcılar bilgisayarlarını ya da kullandıkları browserlarını değiştirdiğinde tercih listeleri ve filtre seçimlerini yeniden oluşturmak durumundadır. bolumtercih.com bu depolama alanlarında herhangi bir zararlı içerik ya da kod parçacığı tutmadığını garanti eder. Kullanıcılar bu alanda tutulan bilgileri browserlarının Local storage alanlarında görebilirler.
</p>
<h3>İletişim</h3>
<p>bolumtercih.com ile ilgili soru, yorum ve önerilerinizi iletişim formu ile ya da bolumtercih@gmail.com adresine mail atarak iletebilirsiniz.
</p></div>